<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.Search.Example\packages.config" />
  <repository path="..\src\Orc.Search.Tests\Orc.Search.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.Search.Tests\Orc.Search.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.Search.Xaml\Orc.Search.Xaml.NET40\packages.config" />
  <repository path="..\src\Orc.Search.Xaml\Orc.Search.Xaml.NET45\packages.config" />
  <repository path="..\src\Orc.Search\Orc.Search.NET40\packages.config" />
  <repository path="..\src\Orc.Search\Orc.Search.NET45\packages.config" />
</repositories>